:root {
  --primary-color: #4f46e5;
  --secondary-color: #6366f1;
  --bg-color: #f9fafb;
  --bg-color-2: #111b1e;
  --text-color: #1f2937;
  --text-color-2: #f9fafb;
  --accent-color: #10b981;

  --neutral-white: #ffffff;
  --neutral-black: #000000;
  --neutral-gray: #6b7280;
  --neutral-gray-light: #f3f4f6;
  --neutral-gray-dark: #374151;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color-2);
  color: var(--text-color-2);
  line-height: 1.6;
}

.logo-link {
  display: flex;
  align-content: center;
  justify-content: center;
}

.logo-link img {
  width: 40px;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: var(--neutral-gray-light);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  font-weight: 600;
  margin: 0 1rem;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: var(--primary-color);
}

/* header {
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: #fff;
  padding: 4rem 2rem;
  text-align: center;
}

header h1 {
  font-size: 2.75rem;
  font-weight: 800;
}

header p {
  font-size: 1.25rem;
  margin-top: 1rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
} */

main {
  /* margin: 4rem auto; */
  /* padding: 0 1.5rem; */
}

section {
  height: 768px;
  width: 100%;
}

.presentation-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  height: 100%;
  width: 100%;
  padding: 2rem 2rem 2rem 2rem;
  background-color: var(--bg-color-2);
  color: var(--text-color-2);
}

#presentation-text{
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  text-align: left;
  color: var(--text-color-2);
  gap: 1rem;
}

#tittle-presentation-content{
  width: 100%;
}

.text-presentation{
  font-size: 4rem;
  width: 35rem;
}

#presentation-download{
  width: 100%;
}

#btn-to-form{
  background: #ffffff;
  padding: 1rem;
  text-decoration: none;
  border-radius: 8px;
}
#btn-to-form::hover{
  background: var(--primary-color);
  color: #ffffff;
}

#presentation-image{
  overflow: hidden;
  width: 587.242px;
  height: 614.4px;
  grid-column: 2;
  margin: auto;
}

#img-1{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  height: 100%;
  width: 100%;
  padding: 2rem 2rem 2rem 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}


.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.feature {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.feature:hover {
  transform: translateY(-5px);
}

.feature h3 {
  color: var(--primary-color);
  margin-bottom: 0.75rem;
}

.cta-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  height: 100%;
  width: 100%;
  padding: 2rem 2rem 2rem 2rem;
  background-color: var(--bg-color-2);
  color: var(--text-color-2);
}

#cta-tittle {
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: left;
  font-size: 3rem;
  padding: 2rem 0rem 2rem 0rem;
}

.cta-image-content {
  grid-column: 1;
  grid-row: 2;
  overflow: hidden;

}

.cta-image{
  /* width: 550px; */
  height: 500px;
  /* object-fit: cover; */
}

.cta-content {
  grid-column: 2;
  grid-row: 2;
}

form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  margin-top: 3rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

form label {
  color: var(--text-color);
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

input,
button {
  width: 100%;
  padding: 0.9rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color);
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 0.9rem;
  color: var(--text-color-2);
  background-color: var(--bg-color-2);
}

.link-footer{
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;

  transition: color 0.3s ease;
}

.link-footer:hover {
  color: var(--secondary-color);
}